<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191494620360-ou9j95qc97upij9grmobcskeu6gr3o3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191494620360-ou9j95qc97upij9grmobcskeu6gr3o3i</string>
	<key>API_KEY</key>
	<string>AIzaSyC_-qaJ8RJrbZSsg9vK67xo_1kjks3_B7c</string>
	<key>GCM_SENDER_ID</key>
	<string>191494620360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotifications</string>
	<key>PROJECT_ID</key>
	<string>teste-firebase-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-firebase-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191494620360:ios:90d6d8a4994709c04a51fd</string>
</dict>
</plist>